@import url("https://fonts.googleapis.com/css2?family-Inter:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after
*::before {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
.menu {
    padding: 2rem;
    background-color: #fff;
    position: relative;
    width: calc(130px + 4 * 70px + 4rem);
    display: flex;
    justify-content: center;
    border-radius: 20px 20px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.075);
}
.link {
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 99em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform-origin: center left;
    transition: width 0.2s ease-in;
    text-decoration: none;
    color: inherit;
}
.link::before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 99em;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    background-color: #eee;
}
.link:hover, .link:focus {
    outline: 0;
    width: 140px;
}
.link:hover:before,
.link:hover .link-title {
    transform: translateX(0%);
}
.link-icon {
    color: black;
    font-size: 27px !important;
    display: block;
    flex-shrink: 0;
    left: 18px;
    position: absolute;
}
.link-title {
    color: black;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    display: block;
    text-align: center;
    text-indent: 20px;
    width: 100%;
}