.link a:hover {
    color: #000;
  }
  /* HEADER BEGINNING */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
  height: 200vh;
  background-color: #000;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  }
  
  .dark-mode {
    background-image: url(background2.jpg);
    background-color: #fff;
    height: 200vh;
    background-size: cover;
    background-position: center;
  }
  
  .list-hide {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  
  a:hover {
    color: #fff;
  }
  
  /* HEADER */
  header {
    position: relative;
    padding: 0 2rem;
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .link {
    display: flex;
    gap: 2rem;
    margin-top: 27px;
  }
  
  .navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  /* DOWNLOAD BUTTON (IF NEEDED) */
  .action_btn {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-top: 10px;
  }
  
  .action_btn:hover {
    scale: 1.05;
    color:#fff;
  }
  
  .action_btn:active {
    scale: 0.95;
  }
  
  /* DROPDOWN MENU */
  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  /* DROP DOWN MENU HEIGHT*/
  .dropdown_menu.open {
    height: 260px;
  }
  
  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* RESPONSIVE DESIGN */
  @media(max-width: 1024px) {
    .navbar .link,
    .navbar .action_btn{
        display: none;
    }
  
    .navbar .toggle_btn {
        display: block;
    }
  
    .dropdown_menu {
        display: block;
        margin-top: 10px;
    }
  }
  
  @media(max-width: 600px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
        margin-top: 10px;
    }
  }
  
  
  .question {
    margin-left: 25px;
  }
  
  .main-text {
    
    margin-left: 50px;
    color: black;
  
  }
  
  body{
    min-height: 100vh;
  }
  
  /* HEADER ENDING */
  
  
  /* FOOTER BEGINNING */
  
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color: transparent;
    position: sticky;
    top: 100%;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
    color: #000;
    text-decoration: underline;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
    color: #000;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
    color: #000;
  }
  
  /* FOOTER ENDING */ 
  
  /* Main Texts In All The Pages Beginning */
  
  /* Halal Page Beginning */
  
  .question {
    margin-top: 110px;
    text-align: center;
    font: bold;
  }
  
  .secondary-text {
    margin-left: 70px;
    text-align: left;
    font-size: larger;
  }
  
  /* Halal Page Ending */
  
  /* Home Page Beginning */
  
  .Main-Text-Home {
    text-align: center;
    margin-top: 500px;
  }
  
  /* Home Page Ending*/
  
  /* Contact Page Beginning*/
  
  .contact-form {
    text-align: center;
    margin-top: 200px;
  }
  
  /* Contact Page Ending*/
  
  /* Main Texts In All The Pages Ending */
  

  /*Privacy Policy Body*/

  .privacy-body{
    color: #000;
    line-height: 1.7em;
  }
  
  .privacy-body h1{
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    color: #000;
  }

  .privacy-body .p-text{
    margin: 0 auto 360px auto;
    margin-left: 500px;
    margin-right: 500px;
  }

@media (max-width: 1496px) {
  .privacy-body .p-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1300px) {
  .privacy-body .p-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1100px) {
  .privacy-body .p-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1030px) {
  .privacy-body .p-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1024px) {
  .privacy-body .p-text {
   margin-left: 200px;
   margin-right: 200px;
  }
}

@media (max-width: 580px) {
  .privacy-body .p-text {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (max-width: 512px) {
  .privacy-body .p-text {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 425px) {
  .privacy-body .p-text {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 390px) {
  .privacy-body .p-text {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 295px) {
  .privacy-body .p-text {
    margin-left: 50px;
    margin-right: 50px;
  }
} 

/* Scroll up button */
:root { scroll-behavior: smooth; }
.stt {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  opacity: 0.7;
}
.stt:hover {
  opacity: 0.8;
}
.stt:focus {
  opacity: 0.9;
}
.stt:active {
  opacity: 1;
}