html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 30px;
    font-weight: bold;
    font-family: Courier New,monospace;
    line-height: 48px;
    color: #FAF9F9;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    background-color: #1F1C2C;
}
.wb-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 40px;
}
.wb-hr {
    display: block;
    border-top: 4px solid #FAF9F9;
    width: 100%;
    max-width: 300px;
    margin: 30px auto;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
h1 {
    display: block;
    font-size: 80px;
    font-weight: bold;
    font-family: Courier New,monospace;
    line-height: 80px;
    margin: 20px 0px 20px 0;
    padding: 0;
}
div.wb-domain {
    display: block;
    text-decoration: underline;
}
.wb-password {
    display: block;
    margin: 100px 0;
    align-items: center;
}
.wb-password ol {
    padding: 10px 0;
    margin: 0 0 0 52px;
    list-style-position: outside;
}
.wb-powered {
    display: block;
    margin-top: 20px;
    font-size: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.wb-powered img {
    margin-left: 10px;
}
.wb_main { display: none; }
@media (max-width: 991px) {
    body {
        font-size: 24px;
        line-height: 38px;
    }
    h1 {
        font-size: 64px;
        line-height: 64px;
    }
    .wb-hr {
        margin: 24px auto;
    }
    .wb-list {
        margin: 80px 0;
    }
    .wb-list ol {
        margin: 0 0 0 42px;
    }
    .wb-powered {
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 15px;
        line-height: 24px;
    }
    h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .wb-hr {
        margin: 15px auto;
    }
    .wb-list {
        margin: 50px 0;
    }
    .wb-list ol {
        margin: 0 0 0 26px;
    }
    .wb-powered {
        font-size: 12px;
    }
}