.link a:hover {
    color: #000;
  }
  /* HEADER BEGINNING */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  }
  .list-hide {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  
  a:hover {
    color: #fff;
  }
  
  /* HEADER */
  header {
    position: relative;
    padding: 0 2rem;
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .link {
    display: flex;
    gap: 2rem;
    margin-top: 27px;
  }
  
  .navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  /* DOWNLOAD BUTTON (IF NEEDED) */
  .action_btn {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-top: 10px;
  }
  
  .action_btn:hover {
    scale: 1.05;
    color:#fff;
  }
  
  .action_btn:active {
    scale: 0.95;
  }
  
  /* DROPDOWN MENU */
  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  /* DROP DOWN MENU HEIGHT*/
  .dropdown_menu.open {
    height: 185px;
  }
  
  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* RESPONSIVE DESIGN */
  @media(max-width: 1024px) {
    .navbar .link,
    .navbar .action_btn{
        display: none;
    }
  
    .navbar .toggle_btn {
        display: block;
    }
  
    .dropdown_menu {
        display: block;
        margin-top: 10px;
    }
  }
  
  @media(max-width: 600px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
        margin-top: 10px;
    }
  }
  
  
  .question {
    margin-left: 25px;
  }
  
  .main-text {
    
    margin-left: 50px;
    color: black;
  
  }
  
  body{
    min-height: 100vh;
  }
  
  /* HEADER ENDING */
    
  /* Home Page Beginning */
  
  .Main-Text-Home {
    text-align: center;
    margin-top: 500px;
    color: white;
  }
  
  /* Home Page Ending*/
  
  /* Contact Page Beginning*/
  
  .contact-form {
    text-align: center;
    margin-top: 200px;
  }
  
  /* Contact Page Ending*/
  
  /* Main Texts In All The Pages Ending */
  

  /*Privacy Policy Body*/

  .privacy-body{
    color: white;
    line-height: 1.7em;
  }
  
  .privacy-body h1{
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    color: white;
  }

  .privacy-body .p-text{
    margin: 0 auto 360px auto;
    margin-left: 500px;
    margin-right: 500px;
  }

@media (max-width: 1496px) {
  .privacy-body .p-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1300px) {
  .privacy-body .p-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1100px) {
  .privacy-body .p-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1030px) {
  .privacy-body .p-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1024px) {
  .privacy-body .p-text {
   margin-left: 200px;
   margin-right: 200px;
  }
}

@media (max-width: 580px) {
  .privacy-body .p-text {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (max-width: 512px) {
  .privacy-body .p-text {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 425px) {
  .privacy-body .p-text {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 390px) {
  .privacy-body .p-text {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 295px) {
  .privacy-body .p-text {
    margin-left: 50px;
    margin-right: 50px;
  }
} 

/* Scroll up button */
:root { scroll-behavior: smooth; }
.stt {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  opacity: 0.7;
}
.stt:hover {
  opacity: 0.8;
}
.stt:focus {
  opacity: 0.9;
}
.stt:active {
  opacity: 1;
}
/*FOOTER*/
.container {
  max-width: 1170px;
  margin: auto;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 94vh;
}
.copyright-text {
  color: #bbbbbb;
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
/*FOOTER RESPONSIVE*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}





section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}
.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid black;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:focus ~  :valid {
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: #000;
}
.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.2em;
    top: 20px;
}
.forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: black;
    display: flex;
    justify-content: center;
}
.forgot label input {
    margin-right: 3px;
}
.forgot label a {
    color: black;
    text-decoration: none;
}
.forgot label a:hover {
    text-decoration: underline;
}
button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register {
    font-size: .9em;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.register p a:hover {
    text-decoration: underline;
}

/* Terms and Conditions */

.terms-body{
  color: white;
  line-height: 1.7em;
}

.terms-body h1{
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  color: white;
}

.terms-body .t-text{
  margin: 0 auto 360px auto;
  margin-left: 500px;
  margin-right: 500px;
}
.terms-body .space-1 {
  margin-top: 20px;
}
.terms-body .space-2 {
  margin-top: 50px;
}
@media (max-width: 1496px) {
  .terms-body .t-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1300px) {
  .terms-body .t-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1100px) {
  .terms-body .t-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1030px) {
  .terms-body .t-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 1024px) {
  .terms-body .t-text {
   margin-left: 200px;
   margin-right: 200px;
  }
}

@media (max-width: 580px) {
  .terms-body .t-text {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (max-width: 512px) {
  .terms-body .t-text {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 425px) {
  .terms-body .t-text {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 390px) {
  .terms-body .t-text {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 295px) {
  .terms-body .t-text {
    margin-left: 50px;
    margin-right: 50px;
  }
} 
/* socials main */
.social-main {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.social-main a {
  font-size: 100px;
}