/* MAIN TEXT BEGINNING */
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #333;
    height: 120vh;
}
.error-page{
    position: absolute;
    top: 10%;
    left: 17%;
    right: 17%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-page .content{
    max-width: 600px;
    text-align: center;
}
.content h1{
    font-size: 18vw;
    line-height: 1em;
    position: relative;
}
.content h1:after{
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
    animation: animate 10s ease-in-out infinite;
}
@keyframes animate {
    0%{
        background-position: 0 0;
    }
    25%{
        background-position: 100% 0;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 0 100%;
    }
    100%{
        background-position: 0 0;
    }
}
.content h4{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    max-width: 600px;
    font-size: 2em;
}
.content p{
    font-size: 1.2em;
    color: #0d0d0d;
}
.content .btns{
    margin: 25px 0;
    display: inline-flex;
}
.content .btns a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid #69a6ce;
    color: #69a6ce;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 25px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.content .btns a:hover{
    color: #fff;
    background: #69a6ce;
}

/* MAIM TEXT ENDING */