@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=sawp');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f293a;
}

.container {
    position: relative;
    width: 500px;
    height: 630px;
    background: transparent;
    border: 2px solid #0ef;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 45px;
}

.container .login-box {
    position: relative;
    width: 100%;
}

.login-box .page-box {
    display: flex;
    flex-direction: column;
}

.page-box .page {
    width: 100%;
}

.page-box .page .email-page {
    transform: translateX(0px);
    transition: .25s ease-in-out;
}

.page-box .active-pass.page .email-page {
    transform: translateX(-500px);
}

.page-box .page .password-page {
    position: absolute;
    transform: translateX(500px);
    margin-top: 140px;
    transition: .25s ease-in-out;
}

.page-box .active-pass.page .password-page {
    transform: translateX();
}

.page-box .login-title {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.login-title h2 {
    font-size: 32px;
    line-height: 1.5;
}

.login-title p {
    font-size: 16px;
    font-weight: 500;
}

.page .input-box {
    width: 100%;
    height: 55px;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 6px;
    color: #fff;
    padding: 0 16px;
    transition: .3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #0ef;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: .3s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    left: 12px;
    font-size: 13px;
    color: #0ef;
    background: #1f293a;
    padding: 0 6px;
}

.forgot {
    margin-top: 6px;
}

.forgot .show {
    margin: 10px 0 70px;
    display: flex;
    justify-content: space-between;
}

.forgot a {
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

.forgot .show label {
    font-size: 14.5px;
    color: #fff;
    cursor: pointer;
}

.forgot .show label input {
    accent-color: #0ef;
    cursor: pointer;
    margin-right: 3px;
}

.guest-mode {
    margin: 16px 0;
}

.guest-mode p {
    font-size: 14.5px;
    color: #fff;
}

.guest-mode a {
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.guest-mode a:hover {
    text-decoration: underline;
}

.btn-box {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.btn-box a {
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.btn-box a:hover {
    text-decoration: underline;
}

.btn-box button {
    width: 90px;
    height: 40px;
    background: #0ef;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #1f293a;
    font-weight: 600;
}

/*.alert-btn {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background:rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
} */

/* The alert message box */
.alert {
    position: absolute;
    top: 5%;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
  
  /* The close button */
  .closebtn {
    margin-left: 5px;
    margin-top: 3px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  .alert {
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
  }